<li class="nav-header">ADMINISTRATION</li>
{% if request.session.get("developer_access") %}
<li class="nav-item has-treeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-code"></i>
        <p>
            Developer
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="/developer" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Developer Panel</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/developer/cnn-training" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>CNN Training</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="/developer/data-import" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Data Import</p>
            </a>
        </li>
    </ul>
</li>
{% endif %}
<li class="nav-item">
    <a href="/admin" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>Dashboard</p>
    </a>
</li>
<li class="nav-item">
    <a href="/admin/sync" class="nav-link">
        <i class="nav-icon fas fa-sync-alt"></i>
        <p>Sync Database</p>
    </a>
</li>
<li class="nav-item">
    <a href="/admin/users" class="nav-link">
        <i class="nav-icon fas fa-users"></i>
        <p>User Management</p>
    </a>
</li>
<li class="nav-item">
    <a href="/admin/biometrics" class="nav-link">
        <i class="nav-icon fas fa-fingerprint"></i>
        <p>Accounts & FaceID</p>
    </a>
</li>
<li class="nav-item">
    <a href="/admin/stocks" class="nav-link">
        <i class="nav-icon fas fa-boxes"></i>
        <p>Stocks & Inventory</p>
    </a>
</li>