<li class="nav-header">VENDO OPERATIONS</li>
<li class="nav-item">
    <a href="/admin" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>Dashboard</p>
    </a>
</li>
<li class="nav-item">
    <a href="/admin/biometrics" class="nav-link">
        <i class="nav-icon fas fa-user-circle"></i>
        <p>Accounts & FaceID</p>
    </a>
</li>
<li class="nav-item">
    <a href="/admin/stocks" class="nav-link">
        <i class="nav-icon fas fa-boxes"></i>
        <p>Stocks & Inventory</p>
    </a>
</li>