<li class="nav-header">FIREWALL OPERATIONS</li>
<li class="nav-item">
    <a href="/admin" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>Dashboard</p>
    </a>
</li>
<li class="nav-item">
    <a href="/admin/sync" class="nav-link">
        <i class="nav-icon fas fa-sync-alt"></i>
        <p>Sync Database</p>
    </a>
</li>
<li class="nav-item">
    <a href="/admin/users" class="nav-link">
        <i class="nav-icon fas fa-users"></i>
        <p>User Management</p>
    </a>
</li>
<li class="nav-item">
    <a href="/admin/biometrics" class="nav-link">
        <i class="nav-icon fas fa-fingerprint"></i>
        <p>Accounts & FaceID</p>
    </a>
</li>