<li class="nav-header">HR & AUDIT</li>
<li class="nav-item">
    <a href="/admin" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>Dashboard</p>
    </a>
</li>
<li class="nav-item">
    <a href="/admin/biometrics" class="nav-link">
        <i class="nav-icon fas fa-id-card"></i>
        <p>Accounts & FaceID</p>
    </a>
</li>
<li class="nav-item">
    <a href="/admin/audit" class="nav-link">
        <i class="nav-icon fas fa-clipboard-list"></i>
        <p>Audit Logs</p>
    </a>
</li>